@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.center {
	@apply flex items-center justify-center;
}

@layer components {
	.btn {
		@apply rounded-xl py-3 px-6 text-sm font-semibold;
	}
	.btn-primary {
		@apply bg-white text-black hover:bg-white/80 transition-colors disabled:hover:bg-white/40 disabled:bg-opacity-40 disabled:cursor-not-allowed;
	}
	.btn-alt {
		@apply hover:bg-neutral-900 border-2 border-white/20 transition-colors disabled:bg-opacity-40 disabled:text-white/40 disabled:hover:bg-black/40 disabled:cursor-not-allowed;
	}
	.btn-small {
		@apply rounded-lg py-1.5 px-2.5;
	}
}
