@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-1;
}

/* Track */
::-webkit-scrollbar-track {
  @apply lg:bg-muted;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply lg:rounded-xl lg:bg-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply lg:bg-primary/80 lg:transition-colors;
}

@layer base {
  :root {
    --background: 0 0% 100% /* white */;
    --foreground: 224 72% 5% /* gray-950 */;
    --card: 0 0% 100% /* white */;
    --card-foreground: 224 72% 5% /* gray-950 */;
    --popover: 0 0% 100% /* white */;
    --popover-foreground: 224 72% 5% /* gray-950 */;
    --primary: 175 84% 35% /* teal-600 */;
    --primary-foreground: 167 77% 97% /* teal-50 */;
    --secondary: 168 86% 90% /* teal-100 */;
    --secondary-foreground: 176 61% 20% /* teal-900 */;
    --muted: 220 15% 96% /* gray-100 */;
    --muted-foreground: 220 9% 47% /* gray-500 */;
    --accent: 168 86% 90% /* teal-100 */;
    --accent-foreground: 176 61% 20% /* teal-900 */;
    --destructive: 0 85% 61% /* red-500 */;
    --destructive-foreground: 210 20% 99% /* gray-50 */;
    --border: 220 14% 95% /* gray-200 */;
    --input: 220 14% 91% /* gray-200 */;
    --ring: 175 84% 35% /* teal-600 */;
    --radius: 0.8rem;
  }

  .dark {
    --background: 224 72% 5% /* gray-950 */;
    --foreground: 210 20% 99% /* gray-50 */;
    --card: 224 72% 5% /* gray-950 */;
    --card-foreground: 210 20% 99% /* gray-50 */;
    --popover: 224 72% 5% /* gray-950 */;
    --popover-foreground: 210 20% 99% /* gray-50 */;
    --primary: 175 87% 35% /* teal-600 */;
    --primary-foreground: 167 77% 97% /* teal-50 */;
    --secondary: 177 70% 28% /* teal-800 */;
    --secondary-foreground: 167 77% 97% /* teal-50 */;
    --muted: 215 28% 17% /* gray-800 */;
    --muted-foreground: 218 11% 65% /* gray-400 */;
    --accent: 177 70% 28% /* teal-800 */;
    --accent-foreground: 167 77% 97% /* teal-50 */;
    --destructive: 0 63% 40% /* red-900 */;
    --destructive-foreground: 210 20% 99% /* gray-50 */;
    --border: 215 28% 10% /* gray-800 */;
    --input: 215 28% 17% /* gray-800 */;
    --ring: 175 87% 35% /* teal-600 */;
  }

  * {
    @apply border-input;
  }
  *::selection {
    @apply bg-primary text-white;
  }
  img {
    @apply border-2;
  }
  section {
    @apply mx-auto max-w-full;
  }
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }
  .btn {
    @apply rounded-xl px-6 py-3 text-sm font-semibold;
  }
  .btn-primary {
    @apply bg-white text-black transition-colors hover:bg-white/80 disabled:cursor-not-allowed disabled:bg-opacity-40 disabled:hover:bg-white/40;
  }
  .btn-alt {
    @apply border-2 border-white/20 transition-colors hover:bg-neutral-900 disabled:cursor-not-allowed disabled:bg-opacity-40 disabled:text-white/40 disabled:hover:bg-black/40;
  }
}
